django==5.1.7
crispy-bootstrap5==2024.10
django-crispy-forms==2.3
uvicorn[standard]==0.34.0
ptpython==3.0.29
docopt==0.6.2
httpx==0.28.1
python-decouple==3.8
whitenoise==6.6.0
gunicorn==21.2.0
PyMySQL==1.1.0 